button {
    font-family: 'Open Sans';
    background-color: #11DCBF;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    transition-duration: 0.2s;
}

button:hover {
    font-family: 'Open Sans';
    background-color: #14b8aa;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

aside {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 300px;
    border: 7px solid #dcfff9;
    padding: 10px;
}